<h2>New book</h2>
<%= form_with model: book, url: books_path(book.id), method: :post do |f| %>
  <label>Title</label>
  <%= f.text_field :title, class: "form-control mb3" %>

  <lavel>Opinion</label>
  <%= f.text_area :body, class: "form-control mb-3" %>

  <%= f.submit "Create Book", class: "btn btn-success mb-3" %>
<% end %>
