<p class="notice"><%= notice %></p>
<div class="container">
  <div clss="row">
    <h1 class="col-8 mx-auto">welcome to <i class="fas fa-book"></i>Bookers!!</h1>
    <p class="col-8 mx-auto">In <span><i class="fas fa-book"></i></span>Bookers,</p>
    <p class="col-8 mx-auto">you can share and exchange your opinions, inpressions, and emotions</p>
    <p class="col-8 mx-auto">about various books!</p>
    <a class="btn btn-info col-7 btn-block mx-auto mb-3" type="button" href="users/sign_in">Log in</a>
    <a class="btn btn-success col-7 btn-block mx-auto" type="button" href="users/sign_up">Sign up</a>
  </div>
</div>